FX_API_KEY=
DATABASE_URL= jdbc:postgresql://neondb_owner:npg_fQrv3FjMETx6@ep-wild-fire-abubn15a-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
CLERK_JWKS_URI= https://new-fox-39.clerk.accounts.dev/.well-known/jwks.json
GEMINI_API_KEY= AIzaSyAmJb8CXo-waA5E1ElaUl7JVfIsORwMs4M
VAPID_PUBLIC_KEY= BJ4Lxwcau6qQnaY-sGKrcQMoz_saDCEQn08ELZJlyqPIszfSPaVnstE9k8fuhTMdX-X7YGEH2odq5W02UwxQhl8
VAPID_PRIVATE_KEY= tyUUZGzdpc_812dP94uqZItpb-ATblvim8sBHsNucI0
VAPID_SUBJECT= mailto:emiliochanderdutt9@gmail.com
SPRING_PROFILES_ACTIVE= prod
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = pk_test_bmV3LWZveC0zOS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_EbQPALBriUJoGc7t2jFQ7OYSbeidyPIOLNIkdTkMQi
NEXT_PUBLIC_API_BASE_URL=https://lunero-backend-production.up.railway.app
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BJ4Lxwcau6qQnaY-sGKrcQMoz_saDCEQn08ELZJlyqPIszfSPaVnstE9k8fuhTMdX-X7YGEH2odq5W02UwxQhl8