NEXT_PUBLIC_API_URL=https://markethive-backend.onrender.com/api
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TAYqbGWrMxvITltehgZuYGXBu8MkqmhAF0DcpfztiOwD2SlKfXvGliMRtiYtf3OVFns9ycK9nU1iAnpECcULBjc00bPbqNCBw